{% load static %}
<nav class="side-nav hub-side expanded" data-hub="{{ hub_title|lower }}">
    <div class="nav-header">
        <div class="nav-title">{{ hub_title }}</div>
        <div class="nav-actions">
            <button class="nav-toggle" aria-label="Toggle menu">⯈</button>
            <button class="switch-global" aria-label="Switch to global menu">Global</button>
        </div>
    </div>
    <ul>
        {% for item in local_menu %}
            <li><a href="{{ item.url }}"><span class="menu-icon">{% include item.icon %}</span><span class="menu-label">{{ item.name }}</span></a></li>
        {% endfor %}
    </ul>
</nav>
