{% extends 'layout.html' %}

{% block title %}Staff Directory{% endblock %}

{% block page_title %}Staff Directory{% endblock %}

{% block content %}
<table>
	<thead>
		<tr>
			<th>Staff Code</th>
			<th>Name</th>
			<th>Job Title</th>
			<th>Department</th>
			<th>Email</th>
		</tr>
	</thead>
	<tbody>
		{% for staff in staff_list %}
		<tr>
			<td>{{ staff.staff_code }}</td>
			<td>{{ staff.first_name }} {{ staff.last_name }}</td>
			<td>{{ staff.job_title }}</td>
			<td>{{ staff.department }}</td>
			<td>{{ staff.email }}</td>
		</tr>
		{% empty %}
		<tr><td colspan="5">No staff found.</td></tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
{% block hub_sidebar %}{% include 'hubs/_hub_sidebar.html' %}{% endblock %}
{% block breadcrumbs %}
	<a href="{% url 'staff_hub' %}">Staff</a>
	<span class="sep">›</span>
	<span>Staff Directory</span>
{% endblock %}
