<ul>
    {% for school in schools %}
        {% ifchanged school.category %}{% if not forloop.first %}<li class="school-nav-divider"></li>{% endif %}{% endifchanged %}
        <li><button type="button" class="school-nav-option{% if school.aggregate %} school-nav-aggregate{% endif %}{% if school.selected %} selected{% endif %}" data-key="{{ school.key }}" data-school="{{ school.name }}">{% if not school.aggregate %}<span class="menu-icon school-nav-logo">{% include 'icons/school_logo_placeholder_svg.html' %}</span>{% endif %}<span class="menu-label">{{ school.name }}</span></button></li>
    {% endfor %}
</ul>
