{% load static %}
<ul>
    {% for school in schools %}
        {% ifchanged school.category %}{% if not forloop.first %}<li class="school-nav-divider"></li>{% endif %}{% endifchanged %}
        <li><button type="button" class="school-nav-option{% if school.aggregate %} school-nav-aggregate{% endif %}{% if school.selected %} selected{% endif %}" data-key="{{ school.key }}" data-school="{{ school.name }}">{% if not school.aggregate %}<span class="menu-icon school-nav-logo">{% if school.logo_url %}<img src="{{ school.logo_url }}" alt="" style="width:100%;height:100%;object-fit:contain;">{% else %}<svg aria-hidden="true"><use href="{% static 'img/icons/portal/school_logo_placeholder.svg' %}#icon"></use></svg>{% endif %}</span>{% endif %}<span class="menu-label">{{ school.name }}</span></button></li>
    {% endfor %}
</ul>
