<ul class="nav-row-dropdown-list">
    {% for staff in current_staff_list %}
        {% ifchanged staff.school.name %}{% if not forloop.first %}<li class="staff-nav-divider"></li>{% endif %}{% endifchanged %}
        <li>
            <button type="button" class="staff-nav-option{% if staff.id|stringformat:'s' == current_staff_id %} selected{% endif %}" data-staff-id="{{ staff.id }}" data-name="{{ staff.first_name }} {{ staff.last_name }}">
                <span class="menu-icon">{% include 'icons/avatar_placeholder_svg.html' %}</span>
                <span class="menu-label-stack">
                    <span class="user-name">{{ staff.first_name }} {{ staff.last_name }}</span>
                    <span class="user-school">{{ staff.school.name|default:'MAT' }}</span>
                    <span class="user-role">{{ staff.job_title }}</span>
                </span>
            </button>
        </li>
    {% endfor %}
</ul>
