<div class="tab-row">
    <a href="{% url 'inclusion_panel_referral_question_settings' %}" class="{% if request.resolver_match.url_name == 'inclusion_panel_referral_question_settings' %}active{% endif %}">Referral Questions</a>
    <a href="{% url 'inclusion_panel_action_category_settings' %}" class="{% if request.resolver_match.url_name == 'inclusion_panel_action_category_settings' %}active{% endif %}">Action Categories</a>
    <a href="{% url 'inclusion_panel_group_settings' %}" class="{% if request.resolver_match.url_name == 'inclusion_panel_group_settings' %}active{% endif %}">Panel Groups</a>
</div>
