{% extends 'layout.html' %}
{% load static %}

{% block hub_sidebar %}{% include 'hubs/_hub_sidebar.html' %}{% endblock %}

{% block page_extras %}
<div class="key-actions">
    <button type="button" class="btn btn-add btn-secondary btn-sm" data-new-referral-trigger data-student-id="{% if student %}{{ student.id }}{% endif %}" data-next="{{ request.path }}"><span class="btn-icon">{% include 'icons/new_svg.html' %}</span> Referral</button>
</div>
<dialog id="new-referral-dialog" class="modal-dialog"></dialog>
<dialog id="panel-group-dialog" class="modal-dialog"></dialog>
<dialog id="panel-meeting-dialog" class="modal-dialog"></dialog>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/panel.js' %}?v=10"></script>
{% endblock %}
