{% extends 'layout.html' %}
{% load static %}

{% block hub_sidebar %}{% include 'hubs/_hub_sidebar.html' %}{% endblock %}

{% block page_extras %}
<div class="key-actions">
    <button type="button" class="btn btn-sm" data-panel-search-trigger><span class="btn-icon">{% include 'icons/search_svg.html' %}</span> Search</button>
    <button type="button" class="btn btn-add btn-secondary btn-sm" data-new-referral-trigger data-student-id="{% if student %}{{ student.id }}{% endif %}" data-next="{{ request.path }}"><span class="btn-icon">{% include 'icons/new_svg.html' %}</span> Referral</button>
</div>
<dialog id="new-referral-dialog" class="modal-dialog"></dialog>
<dialog id="panel-group-dialog" class="modal-dialog"></dialog>
<dialog id="panel-meeting-dialog" class="modal-dialog"></dialog>
<dialog id="referral-actions-dialog" class="modal-dialog"></dialog>
<dialog id="panel-search-dialog" class="modal-dialog">
    <div class="modal-header">
        <h2>Search</h2>
    </div>
    <div class="modal-body">
        <input type="text" id="panel-search-input" class="panel-search-input" placeholder="Search students, referrals, actions…" autocomplete="off">
        <div id="panel-search-results" class="panel-search-results"></div>
        <div class="btn-row">
            <button type="button" class="btn btn-sm" data-modal-close>Close</button>
        </div>
    </div>
</dialog>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/panel.js' %}?v=53"></script>
{% endblock %}
