{% extends 'layout.html' %}

{% block title %}Student Profile{% endblock %}

{% block content %}
<h1>Student Profile</h1>
{% if student %}
<table>
	<tr><th>UPN</th><td>{{ student.upn }}</td></tr>
	<tr><th>Name</th><td>{{ student.first_name }} {{ student.last_name }}</td></tr>
	<tr><th>Year Group</th><td>{{ student.year_group }}</td></tr>
	<tr><th>Reg Form</th><td>{{ student.reg_form }}</td></tr>
	<tr><th>Form Tutor</th><td>{{ student.form_tutor }}</td></tr>
	<tr><th>Date of Birth</th><td>{{ student.date_of_birth }}</td></tr>
</table>
{% else %}
<p>No student record found.</p>
{% endif %}
{% endblock %}
{% block hub_sidebar %}{% include 'hubs/_hub_sidebar.html' %}{% endblock %}
{% block breadcrumbs %}
	<a href="{% url 'student_hub' %}">Student</a>
	<span class="sep">›</span>
	<span>Student Profile</span>
{% endblock %}
